.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  top: 300px;
  padding-top: 150px;
}

/* Style the buttons inside the tab */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: green;
  color: green;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.form {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 780px;
  height: 450px;
  background: #fdfdfd;
  border: 1px solid green;
}
.form .head {
  width: 100%;
  height: 55px;
  display: flex;
}
.form .head > div {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  background: rgb(224, 223, 223);
  text-transform: uppercase;
  font-size: 25px;
}
.form .form-row-footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  top: 400px;
  border-top: 10px solid white;
}

.form .form-row-footer button {
  float: left;
  padding-left: 50px;
  line-height: 40px;
  text-indent: 2%;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  height: 40px;
  background: grey;
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 16px;
  cursor: pointer;
}
.form .head.signup > div:nth-child(1),
.form .head > div:nth-child(2) {
  background: #eee;
}
.form .head.signup > div:nth-child(2) {
  background: transparent !important;
}

.form .body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.form .body > div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.form .body > div.settings {
  left: 0%;
}
.form .body > div.information {
  left: 100%;
}
.form .body.active > div.settings {
  left: -100%;
}
.form .body.active > div.information {
  left: 0%;
}

.form .body .form-row label {
  display: block;
  padding: 12px 10px 0px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.form .body .form-row input {
  width: 60%;
  border: 1px solid green;
  outline: none;
  height: 32px;
  text-indent: 10px;
  font-size: 14px;
}
.form .body .form-row select {
  width: 60%;
  border: 1px solid green;
  outline: none;
  height: 32px;
  text-indent: 10px;
  font-size: 14px;
}
.form .body .form-row button {
  width: 50%;
  border: none;
  outline: none;
  height: 45px;
  background: #3399ff;
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 16px;
  cursor: pointer;
}

.form .body .signup .form-row button {
  background: #0f2d41;
}

.form .body .row {
  text-align: center;
  padding: 8px 0px;
}
